{% extends "templates/_default.html" %}

{% block content %}

  <p>Hello {{ data.user_email }}, please click the link below to download.</p>
  <div class="present-download">
    <a class="btn get-artwork-btn" role="button" href= "/download-file/{{ data.uuid }}">DOWNLOAD [83MB]</a>
  </div>

  <p>
    <em>Please Share</em> the work on social media
    <div class="share-options">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Finfinite.industries" target="_new"><img src="/images/facebook.png" width="40px" height="40px" class="social-media-icon"></a>

      <a href="https://twitter.com/intent/tweet?text=Check%20out%20great%20art%20at%20Infinite%20Industries%20http%3A%2F%2Finfinite.industries&via=1nfinite_1" target="_new"><img src="/images/twitter.png" width="40px" height="40px" class="social-media-icon"></a>
      <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new"><img src="/images/instagram.png" width="40px" height="40px" class="social-media-icon"></a>
    </div>
    <div class="share-element">
      share and DM us <a href="https://www.instagram.com/1nfinite_1ndustries/" target="_new">@1nfinite_1ndustries</a>
    </div>
  </p>

{% endblock %}
